.flash-message {
    border: black solid;
    padding: 1em;
    margin: 1em;
}

.flash-error {
    background: #A05050;
    color: #EEEEEE;
    padding: 1em;
    margin: 1em;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

a.column-link {
    color: inherit;
    background-color: inherit;
    font-style: normal;
    text-decoration: none;
}

a.column-link:hover {
    background-color: #DB5535;
    color: #FBEC87;
}

th {
    background-color: #FBEC87;
    color: #4E471F;
}

th:hover {
    color: #FBEC87;
    background-color: #4E471F;
}

th#middle {
    color: #DB5535;
}


tr#odd {
    background-color: #EAFEDB;
    color: #4E471F;
}